.app-wrapper {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 200px 1fr;
  /* grid-gap: 10px; */
  grid-template-areas:
    "header header"
    "nav content";
  grid-gap: 10px;
}

.nav {
  grid-area: nav;
  color: black;
  background-color: green;
}

.header {
  grid-area: header;
  color: black;
  background-color: green;
}
.header img {
  width: 70px;
  height: 60px;
}

.content {
  grid-area: content;
  color: black;
}
.banner {
  width: 50%;
  height: 200px;
}
.ava {
  width: 100px;
  height: 100px;
}
